<div class="header">
    <div class="header-logo">
      <i class="fa fa-linode"></i>
      iCardMarket
    </div>
    <div class="header-nav">
      <ul>
        <li *ngFor="let nav of navs" [routerLinkActive]="'active'">
          <a [routerLink]="nav.routerLink">
            <i *ngIf="nav.icons" class="{{nav.icons}}"></i>
            <span>{{nav.title}}</span>
            <i *ngIf="nav.data" class="el-icon-caret-bottom"></i>
          </a>
          <div *ngIf="nav.data as subs" class="header-nav-sub">
            <ul>
              <li *ngFor="let sub of subs" [routerLinkActive]="'active'">
                <a [routerLink]="nav.routerLink+sub.routerLink">
                  <i *ngIf="sub.icons" class="{{sub.icons}}"></i>
                  <span>{{sub.title}}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="header-quick">
      <el-select [model]="'选项2'" size="small" readonly>
        <el-option *ngFor="let item of [{value: 'iCardMarket',label: 'iCardMarket' },
            { value: '选项2', label: '双皮奶' },
            { elDisabled: true, value: '选项3', label: '蚵仔煎' },
            { value: '选项4', label: '龙须面' },
            { value: '选项5', label: '北京烤鸭' }]"
            [label]="item.label" [value]="item.value">
        </el-option>
      </el-select>
    </div>
</div>
